.markdown {

}

.markdown .block {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.markdown img {
    height: 320px;
    width: 100%;
    object-fit: scale-down;
    object-position: top;
    margin-bottom: 20px;
    transition: transform 300ms ease-in-out;
}

@media (max-width: 639px) {
    .markdown img {
        height: auto;
    }
    .markdown h2 {
        width: auto;
    }
}

@media (min-width: 640px) {
    .markdown img {
        height: 320px;
    }
    .markdown h2 {
        width: 200px;
    }
}

.markdown img:hover {
    transform: scale(1.03);
    transition: transform 300ms ease-in-out;
}

.markdown div {
    max-width: 1000px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: justify;
    text-justify: inter-word;
}

.markdown h1 {
    font-size: 42px;
    font-weight: 700;
    line-height: 2.5rem;
    color: inherit;
    margin: 0px;
    padding-bottom: 1rem;
}



.markdown h3 {
    font-size: 20px;
    font-weight: 700;
    color: inherit;
    padding-bottom: 1rem;
}

.markdown h4 {
    font-size: 16px;
    font-weight: 500;
    max-width: 320px;
    width: 100%;
    line-height: 1.8rem;
    color: inherit;
    padding-bottom: 1rem;
    padding-right: 0rem;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    text-justify: inter-word;
}

.markdown li {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 1rem;
    text-align: justify;
    text-justify: inter-word;
}

.markdown blockquote {
    width: 100%;
    padding: 2rem;
}

.services div {
    max-width: 1000px;
    font-weight: 500;
}