<section class="w-full p-5 sm:px-16 mt-[100px] mb-5">
    <h2 class="font-roboto text-black text-7xl md:text-8xl lg:text-9xl tracking-wide mr-auto border-b border-[#333] pb-5"> WORK </h2>
    <span class="w-full flex flex-row justify-between items-center text-[13px] font-normal py-5">
        <p> CASE STUDIES </p>
        <p> || </p>
    </span>
</section>